* {
  margin: 0;
  padding: 0;
}

#prompt-container {
  font-family: Courier New, Courier, monospace;
  font-size: 24px;
  letter-spacing: 3px;
}

#yellow-block {
  position: absolute;
  margin-top: 10px;
  width: 10px;
  height: 15px;
  background-color: yellow;
  left: 10px;
}

.keyboard-container {
  margin-top: 200px;
}

#instructions {
  font-size: 38px;
  margin-top: 40px;
}
#target-letter {
  font-size: 38px;
  margin-top: 10px;
  height: 60px;
}

.keys-row {
  margin-top: 40px;
  padding: 10px 0;
}

#feedback {
  margin-top: 40px;
  font-family: glyphicon;
  position: absolute;
  font-size: 20px;
  left: 10px;
}
.glyphicon-ok {
  color: #1da237;
}

.glyphicon-remove {
  color: #cd2626;
}

#keyboard-upper-container {
  display: none;
}
